.university-filter-main-div {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.university-fields-bg-color {
  background-color: #f0f0f0;
}
.university-filter-fields-container {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  & > div {
    width: 25%;
    /* border: 1px solid red; */
  }
  /* submit btn  */
  & > div:nth-child(5) {
    width: 75px;
  }
}
/* .university-filter-language-btns {
  background-color: white;
} */
.university-lang-radios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.university-filter-submit-btn {
  background-color: #212143;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
