#gov-approved-council-main {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

/* heading nav btns  */
.gov-approved-council-head-nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .header-main-btns {
    display: flex;
    gap: 10px;
  }
  button {
    padding: 5px 10px;
    border-radius: 5px;
  }
  button:nth-child(1) {
    background-color: #212143;
    color: #fff;
  }
  button:nth-child(2) {
    color: #000;
  }
}

/* form css  */
.gov-approved-council-inner {
  padding: 10px;
  form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }
  .gov-app-input {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
    }
    .gov-appr-concl-field {
      padding: 7px 10px;
      border-radius: 5px;
      height: 42px;
      outline: none;
      border: 1px solid #d3d3d3;
    }
  }
}
