.comp-exam-filter-main-div {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.comp-exam-se-fields-bg-color {
  background-color: #f0f0f0;
}
.ce-filter-fields-container {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  & > div {
    width: 40%;
  }
  & > div:nth-child(3) {
    width: 280px;
  }
  /* submit btn  */
  & > div:nth-child(4) {
    width: 75px;
  }
}
/* .comp-exam-filter-language-btns {
  background-color: white;
} */
.comp-exam-lang-radios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.comp-exam-filter-submit-btn {
  background-color: #212143;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
