/* Wrapper styling for logout page */
#logout-wrapper {
  background-image: linear-gradient(to top left, #e5e8ed, #e6e9ec, white);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
}

/* Logout container styling */
.logout-container {
  max-width: 612px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Logout heading and message styling */
.logout-container h2 {
  font-size: 1.8rem;
  color: #212143;
  margin-bottom: 10px;
}

.logout-container p {
  font-size: 1.2rem;
  color: #555;
}
