#university-all-assignments-table {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
/* heading or nav btns css  */
.university-all-ass-heading-or-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > .university-all-ass-nav-btns {
    /* border: 1px solid; */
    padding: 10px;
    display: flex;
    gap: 10px;
  }
  button {
    padding: 4px 10px;
    border-radius: 8px;
  }
  /* button:nth-child(1) {
    background-color: #d3d3d3;
  } */
  button:nth-child(2) {
    background-color: #212143;
    color: #ffffff;
  }
}

/* University all assignment table */
.university-all-assignment-inner {
  /* background-color: red; */
  padding: 10px;
  table {
    background-color: #ffffff;
    width: 70%;
    thead {
      background-color: #d3d3d3;
    }
    th {
      border-left: 1px solid grey;
      padding: 10px;
    }
    td {
      padding: 10px;
    }
    svg {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
