#school-submitted-exam-approval-main {
  margin: 10px;
  padding: 10px;
}
#school-submitted-exam-approval-main .school-se-fields-bg-color {
  background-color: #f0f0f0;
}
#school-submitted-exam-approval-main .school-se-main-container {
  margin: 32px 10px;
  h4 {
    margin-bottom: 0;
  }
}
#school-submitted-exam-approval-main .school-se-approve-smte-card-box {
  padding: 15px 0;
}
#school-submitted-exam-approval-main .school-se-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}
#school-submitted-exam-approval-main .school-se-card-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
#school-submitted-exam-approval-main .school-se-card-li {
  margin: 10px 0;
  & > p {
    font-size: 18px;
  }
}
#school-submitted-exam-approval-main .school-se-view {
  color: #212143;
}

#school-submitted-exam-approval-main .school-se-approve {
  color: green;
}
#school-submitted-exam-approval-main .school-se-reject {
  color: red;
}

#school-submitted-exam-approval-main .school-se-reject {
  border: 2px solid lightgrey;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 5px;
}
#school-submitted-exam-approval-main .school-se-approve {
  border: 2px solid lightgrey;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 5px;
}

#school-submitted-exam-approval-main .school-se-view {
  border: 2px solid lightgrey;
  padding: 5px 15px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 5px;
}
